<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="../vue/vue.js"></script>
</head>

<body>
    <div id="app">
        {{ message }}
    </div>

    <div id="app-2">
        <span :title="message">
            鼠标悬停几秒钟查看此处动态绑定的提示信息！
        </span>
    </div>

    <div id="app-3">
        <p v-if="seen">现在你看到我了</p>
    </div>

    <div id="app-4">
        <ol>
            <li v-for="todo in todos">
                {{todo.text}}
            </li>
        </ol>
    </div>

    <div id="app-5">
        <p>{{msg}}</p>
        <button v-on:click="reverseMsg">逆转消息</button>
    </div>

    <div id="app-6">
        <p>{{msg}}</p>
        <input v-model="msg"/>
    </div>
    <div id="app-7">
        <ol>
            <todo-item v-for="item in groceryList"
              v-bind:todo="item"
              v-bind:key="item.id">
            </todo-item>
        </ol>
    </div>

    <div id="app-8">
        <p>Using mustaches:{{rawHtml}}</p>
        <p>Using v-html directive:<span v-html="rawHtml"></span></p>
    </div>

    <div id="app-9">
        <button v-bind:disable="isButtonDisable">Button</button>
        <button @click="changeDisable">改变isButtonDisable</button>
        <p>isButtonDisbale=false时，disable属性将直接不加载</p>
    </div>

    <div id="app-10">
        <p>使用JavaScript表达式</p>
        <p>number+1={{number + 1}},{{ok ? 'YES':'NO'}}</p>
        <p>反转message{{message}}，结果是：{{message.split('').reverse().join('')}}</p>
        <div :id="'list-'+id">div内的id的值有表达式</div>
    </div>

    <script>
        var app10 = new Vue({
          el: '#app-10',
          data: {
            number: 10,
            ok: false,
            message: 'bilibili',
            id: 9527
        }
        })

        var app9 = new Vue({
          el: '#app-9',
          data: {
            isButtonDisable: 'true'
          },
          methods:{
            changeDisable: function(){
              this.isButtonDisable = !this.isButtonDisable
            }
          }
        })

        var app = new Vue({
            el: '#app',
            data: {
                message: 'Hello Vue!'
            }
        })

        var app2 = new Vue({
            el: '#app-2',
            data: {
                message: '页面加载于 ' + new Date().toLocaleString()
            }
        })

        var app3 = new Vue({
            el:'#app-3',
            data:{
                seen: true
            }
        })

        var app4 = new Vue({
            el: '#app-4',
            data: {
                todos: [
                    { text: '学习 JavaScript'},
                    { text: '学习Vue'},
                    { text: '整个项目'}
                ]
            }
        })

        var app5 = new Vue({
          el: '#app-5',
          data: {
            msg: 'Hello Vue.js'
          },
          methods: {
            reverseMsg: function () {
              this.msg = this.msg.split('').reverse().join('')
            }
          }
        })

        var app6 = new Vue({
          el: '#app-6',
          data: {
            msg: 'Hello Vue!'
          }
        })

        Vue.component('todo-item',{
          props: ['todo'],
          template: '<li>{{todo.text}}</li>'
        })

        var app7 = new Vue({
          el: '#app-7',
          data: {
            groceryList: [
              { id: 0,text: '蔬菜'},
              { id: 1,text: '奶酪'},
              { id: 2,text: '随便其他什么'}
            ]
          }
        })

        var app8 = new Vue({
          el: '#app-8',
          data: {
            rawHtml: '<span style="color:red">This should be red!</span>'
          }
        })



    </script>
</body>
</html>