<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>
<div id="app1">
  <li v-for="todo in todos" v-if="!todo.isComplete">
    {{ todo }}
  </li>
  <ul v-if="todos.length">
    <li v-for="todo in todos">
      {{todo}}
    </li>
  </ul>
  <p>No todos left!</p>
</div>
<p>Event Handling</p>
<div id="app2">
  <button v-on:click="counter += 1">add 1</button>
  <p>The button above has been clicked {{ counter }} times.</p>
</div>
<div id="app3">
  <button v-on:click="greet">Greet</button>
</div>
<div id="app4">
  <button v-on:click="say('hi')">Sat hi</button>
  <button v-on:click="say('what')">Sat what</button>
  <button v-on:click="warn('Form cannot be submitted yet.',$event)">Submit</button>
</div>
<div id="app5">
  <input v-on:keyup.enter="submit">
</div>
<div id="app6">
  <input v-model="message" placeholder="edit me">
  <p>Message is : {{message}}</p>
  <span>Multiline message is:</span>
  <p style="white-space: pre-line;">{{msg}}</p>
  <br>
  <textarea v-model="msg" placeholder="add muktiple lines"></textarea>
  <br>
  <input type="checkbox" id="checkbox" v-model="checked">
  <label for="checkbox">{{checked}}</label>
</div>
<br>
<div id="app7">
  <input type="checkbox" id="jack" value="Jack" v-model="checkedNames">
  <label for="jack">Jack</label>
  <input type="checkbox" id="john" value="John" v-model="checkedNames">
  <label for="jack">John</label>
  <input type="checkbox" id="mike" value="Mike" v-model="checkedNames">
  <label for="jack">Mike</label>
  <br>
  <span>Checked names: {{checkedNames}}</span>
</div>
<div id="app8">
  <input type="radio" id="one" value="吴宣仪" v-model="picked">
  <label for="one">吴宣仪</label>
  <br>
  <input type="radio" id="two" value="孟美岐" v-model="picked">
  <label for="two">孟美岐</label>
  <br>
  <span>Picked: {{ picked }}</span>
</div>
<div id="app9">
  <select v-model="selected">
    <option disabled value="">请选择</option>
    <option>吴宣仪</option>
    <option>孟美岐</option>
    <option>程潇</option>
  </select>
  <span>Selected:{{selected}}</span>
</div>
<div id="app10">
  <p>v-model.lazy="***"</p>
  <input v-model.lazy="msg"/>
  <p>{{msg}}</p>
</div>
<script src="../vue/vue.js"></script>
<script>
  var vm10 = new Vue({
    el:'#app10',
    data:{
      msg:'Hello'
    }
  })
  var vm9 = new Vue({
    el:'#app9',
    data:{
      selected:''
    }
  })
  var vm8 = new Vue({
    el:'#app8',
    data:{
      picked:''
    }
  })
  var vm7 = new Vue({
    el:'#app7',
    data:{
      checkedNames:[]
    }
  })
  var vm6 = new Vue({
    el:'#app6',
    data:{
      message:'Hello',
      msg:'ready? go',
      checked:false
    }
  })
  var vm5 = new Vue({
    el:'#app5',
    methods:{
      submit:function(){
      alert('submit')
      }
    }
  })
  var vm4 = new Vue({
    el:'#app4',
    methods:{
      say:function(message){
        alert(message)
      },
      warn:function(msg,event) {
        if (event) event.preventDefault()
        alert(msg)
      }
    }
  })
  var vm3 = new Vue({
    el:'#app3',
    data:{
      name:'Vue.js'
    },
    methods:{
      greet:function(event){
        alert('Hello '+this.name + '!')
        if(event){
          alert(event.target.tagName)
        }
      }
    }
  })
  var vm2 = new Vue({
    el:'#app2',
    data:{
      counter:0
    }
  })
  var vm1 = new Vue({
    el:'#app1',
    data: {
      todos:[
        {isComplete: true},
        {isComplete: false},
        {isComplete: true},
        {isComplete: false}
      ]
    }
  })
</script>
</body>
</html>