<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>
<div id="app1">
  <h1 v-if="ok">Yes</h1>
  <h1 v-else>No</h1>
  <template v-if="ok">
    <h1>在 template 元素上使用 v-if 条件渲染分组</h1>
    <p>组内元素</p>
  </template>
  <template v-if="loginType === 'username'">
    <label>Username</label>
    <input placeholder="username可复用">
  </template>
  <template v-else>
    <label>Email</label>
    <input placeholder="email address可复用">
  </template>
  <button @click="toggleLogin">Toggle</button>
  <br>
  <template v-if="loginType === 'username'">
    <label>Username</label>
    <input placeholder="不可复用" key="username-input">
  </template>
  <template v-else>
    <label>Email</label>
    <input placeholder="不可复用" key="email-input">
  </template>
  <h1 v-show="ok">Hello!</h1>
  <br>
  <p>频繁地切换，则使用 v-show 较好</p>
  <p>很少改变，则使用 v-if 较好</p>
  <button @click="toggleOK">toggleOK</button>


</div>
<ul id="example1">
  <li v-for="item in items">
    {{item.message}}
  </li>
</ul>
<ul id="example2">
  <li v-for="(item, index) in items">
    {{ parentMessage }} - {{ index }}-{{ index + 1 }} - {{ item.message }}
  </li>
</ul>
<ul id="v-for-object" class="demo">
  <li v-for="value in object">
    {{ value }}
  </li>
</ul>
<ul id="v-for-object1" class="demo">
  <li v-for="(value, key) in object">
    {{ key }}: {{ value }}
  </li>
</ul>
<ul id="v-for-object2" class="demo">
  <li v-for="(value, key, index) in object">
    {{ index + 1 }}. {{ key }}: {{ value }}
  </li>
</ul>
<ul id="app7">
  <li v-for="n in evenNumbers">显示一个数组的过滤或排序副本:{{n}}</li>
</ul>
<ul id="app8">
<li v-for="n in even(numbers)">计算属性不适用的情况下 (例如，在嵌套 v-for 循环中) 你可以使用一个 method 方法:{{n}}</li>
  <div>
    <span v-for="n in 10">n in 10:{{n}}; </span>
  </div>
</ul>
<ul id="app9">
  <template v-for="item in items">
    <li>{{item.msg}}</li>
    <li class="divider" role="presentation"></li>
  </template>
</ul>
<script src="../vue/vue.js"></script>
<script>
var vm9 = new Vue({
  el:'#app9',
  data:{
    items:[
      {msg:'Hello 1'},
      {msg:'nice 2'}
      ]
  }
})
var vm8 = new Vue({
  el:'#app8',
  data:{
    numbers:[1,2,3,4,5]
  },
  methods:{
    even:function(numbers){
      return numbers.filter(function(number){
        return number % 2 === 0
      })
    }
  }
})
var vm7 = new Vue({
  el:'#app7',
  data:{
    numbers:[1,2,3,4,5]
  },
  computed:{
    evenNumbers:function(){
      return this.numbers.filter(function(number){
        return number % 2 == 0
      })
    }
  }
})
var vm6 = new Vue({
  el:'#v-for-object2',
  data:{
    object:{
      firstName:'Jojn',
      lastName:'Doe',
      age:30
    }
  }
})
var vm5 = new Vue({
  el:'#v-for-object1',
  data:{
    object:{
      firstName:'Jojn',
      lastName:'Doe',
      age:30
    }
  }
})
var vm4 = new Vue({
  el:'#v-for-object',
  data:{
    object:{
      firstName:'Jojn',
      lastName:'Doe',
      age:30
    }
  }
})

var vm3 = new Vue({
    el:'#example2',
    data:{
      parentMessage:'Parent',
      items: [
        { message: 'Foo' },
        { message: 'Bar' }
      ]
    }
  })
var vm1 = new Vue({
  el:'#app1',
  data:{
    ok:true,
    loginType:'username!'
  },
  methods:{
    toggleLogin:function(){
      if(this.loginType==='username'){
        this.loginType='email'
      }
      else{
        this.loginType='username'

      }},
    toggleOK:function () {
      this.ok = !this.ok
    }
  }
})
var vm2 = new Vue({
  el:'#example1',
  data:{
    items:[
      {message:'Foo'},
      {message:'Bar'}
    ]
  }
})
</script>
</body>
</html>